апр. 28, 2021 1:19:56 PM Main.DownloadApp main
WARNING: Exception: 
java.lang.NullPointerException: Cannot invoke "java.sql.PreparedStatement.close()" because "Main.DataBaseActions.preparedStatement" is null
	at Main.DataBaseActions.disconnect(DataBaseActions.java:30)
	at Main.DataBaseActions.connect(DataBaseActions.java:23)
	at Main.DownloadApp.main(DownloadApp.java:25)

апр. 28, 2021 1:20:05 PM Main.DownloadApp main
WARNING: Exception: 
java.lang.NullPointerException: Cannot invoke "java.sql.PreparedStatement.close()" because "Main.DataBaseActions.preparedStatement" is null
	at Main.DataBaseActions.disconnect(DataBaseActions.java:30)
	at Main.DataBaseActions.connect(DataBaseActions.java:23)
	at Main.DownloadApp.main(DownloadApp.java:25)

апр. 28, 2021 1:20:12 PM Main.DownloadApp main
WARNING: Exception: 
java.lang.NullPointerException: Cannot invoke "java.sql.PreparedStatement.close()" because "Main.DataBaseActions.preparedStatement" is null
	at Main.DataBaseActions.disconnect(DataBaseActions.java:30)
	at Main.DataBaseActions.connect(DataBaseActions.java:23)
	at Main.DownloadApp.main(DownloadApp.java:25)

апр. 28, 2021 1:24:51 PM Main.DownloadApp main
WARNING: Exception: 
java.lang.NullPointerException: Cannot invoke "java.sql.PreparedStatement.close()" because "Main.DataBaseActions.preparedStatement" is null
	at Main.DataBaseActions.disconnect(DataBaseActions.java:30)
	at Main.DataBaseActions.connect(DataBaseActions.java:23)
	at Main.DownloadApp.main(DownloadApp.java:25)

